todo.md
/.antigravitycli

# dwm build artifacts
pkgs/dwm/.cache/
pkgs/dwm/config.def.h.orig
pkgs/dwm/config.def.h.rej
pkgs/dwm/config.h
pkgs/dwm/config.mk.orig
pkgs/dwm/config.mk.rej
pkgs/dwm/*.o
pkgs/dwm/dwm
pkgs/dwm/dwm.c.orig
pkgs/dwm/dwm.c.rej

# dwmblocks-async build artifacts
pkgs/dwmblocks-async/build/
pkgs/dwmblocks-async/dwmblocks
