#!/usr/bin/env bash

pkill -x xwinwrap 2>/dev/null
pkill -f 'mpv .* -wid ' 2>/dev/null
pkill .vicinae-wrappe 2>/dev/null
pkill dwmblocks 2>/dev/null

vicinae server &
dwmblocks &

xwinwrap -g 2560x1440+1920+0 -ni -un -st -sp -b -nf -ov \
  -- mpv --cache=no --vo=gpu --hwdec=vaapi --loop --mute=yes \
  --stop-screensaver=no -wid WID ~/Videos/Wall/rain2k.webm &

xwinwrap -g 1920x1080+0+0 -ni -un -st -sp -b -nf -ov \
  -- mpv --cache=no --vo=gpu --hwdec=vaapi --loop --mute=yes \
  --stop-screensaver=no -wid WID ~/Videos/Wall/rainFhd.webm &

xset r 200 30 &
