@import "current.css";

* {
  font-family: "Radio Canada Big", "sans-serif", "FiraCode Nerd Font propo";
  padding: 0;
  margin: 0;
  min-width: 10px;
}

/* Waybar Window Styles */
window#waybar {
  background: transparent;
}

/* Module Layout */
.modules-left, .modules-center, .modules-right {
  
}


/* Workspaces Module */
#workspaces {
  background: @bg;
  border-radius: 30px;
  margin: 4px 0 0 0;
  padding: 9px 7px;
  min-height: 24px;
  min-width: 271px;
  /* transition: all 0.3s ease-in-out; */
}

#workspaces button {

  border-radius: 100px;
  margin: 0 3px;
  min-width: 30px;
  color: transparent;
  background: @bglight;
	transition: all 0.01s cubic-bezier(.22,.75,0,.99);
}

#workspaces button.active {
  font-size: 18px;
  font-weight: bold;
  min-width: 65px;
  background-color: @fg;
  color: @bg;
	transition: all 0.4s cubic-bezier(.22,.75,0,.99);
}

#workspaces button:hover {
  font-weight: bold;
  
  min-width: 50px;
  font-size: 18px;
  background-color: @dimlight;
  color: @bg;
	transition: all 0.5s cubic-bezier(.22,.75,0,.99);
}

#workspaces button.urgent {
  background-color: @error;
  color: @outline;
	transition: all 0.4s cubic-bezier(.22,.75,0,.99);
  font-size: 17px;
}


#pulseaudio {
  font-weight: bold;
  color: @fg;
  background-color: @bg;
  border-radius: 40px;
  margin: 4px 0 0 12px;
  padding: 9px 18px;
  min-height: 24px;
  font-size: 16px;
  min-width: 40px;
}
#pulseaudio.muted {
  font-weight: bold;
  color: @dim;
  background-color: @bg;
  border-radius: 40px;
  margin: 4px 0 0 12px;
  padding: 9px 18px;
  min-height: 24px;
  font-size: 16px;
}

/* Clock Module */
#clock {
  font-weight: bold;
  color: @fg;
  background-color: @bg;
  border-radius: 40px;
  margin: 4px 6px 0 6px;
  padding: 9px 18px;
  min-height: 24px;
  font-size: 18px;
}

/* Battery Module */
#battery {
  color: @secondary_light;
  font-size: 15px;
  background-color: transparent;
}


/* Network Module */
#network {
  font-weight: bold;
  color: @fg;
  background: transparent;
  margin: 0px 0 0 0;
  padding: 0px 8px 0px 16px;
  font-size: 16px;
}
#bluetooth {
  font-weight: bold;
  color: @fg;
  background: transparent;
  margin: 0px 0 0 0;
  padding: 0px 16px 0px 8px;
  font-size: 16px;
}

/* Wireless Module */
#wireless {
  background-color: @bg;
  border-radius: 40px;
  margin: 4px 0 0 12px;
  min-height: 24px;
}

#custom-weather {
  font-weight: bold;
  color: @fg;
  background-color: @bg;
  border-radius: 40px;
  margin: 4px 0 0 12px;
  padding: 9px 16px;
  min-height: 24px;
  font-size: 17px;

}

#custom-notification
{
  font-weight: bold;
  color: @fg;
  background-color: @bg;
  border-radius: 40px;
  margin: 4px 20px 0 9px;
  padding: 9px 16px;
  min-height: 24px;
  font-size: 20px;

}

/* Tray Module */
#tray {
  color: @fg;
  background-color: @bg;
  border-radius: 40px;
  margin: 4px 0 0 12px;
  padding: 9px 16px;
  min-height: 24px;
  font-size: 20px;
}

#cava {
  font-weight: bold;
  color: @fg;
  background-color: @bg;
  border-radius: 40px;
  margin: 4px 0 0 12px;
  padding: 9px 18px;
  min-height: 24px;
  font-size: 16px;
}



