@import "current.css";

* {
  font-family: "Radio Canada Big", sans-serif;
  font-weight: bold;
  border-radius: 8px;
  min-height: 25px;
}

/* Waybar Window Styles */
window#waybar {
  background: @background;
  color: @on_background;
  padding: 0;
  border-radius: 17px 3px 3px 17px;
  transition-duration: 0.5s;
  border-left: 0.7px solid @surface_variant; /* changed bottom border to left */
}

/* Module Layout */
.modules-left, .modules-center, .modules-right {
  margin: 5px 0;
}


/* Workspaces Module */
#workspaces {
  background: transparent;
  margin: 5px 3px 0 6px;
  font-size: 16px;
  padding: 3px 2px;
  border-radius: 10px;
  color: @on_background;
}

#workspaces button {
  font-weight: bold;
  padding: 3px;
  font-size: 15px;
  margin: 3px 0;
  border-radius: 16px;
  color: @on_background;
  background: @surface_variant;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  font-size: 15px;
  font-weight: bold;
  background-color: @primary;
  color: @background;
  border-radius: 16px;
  min-height: 50px;
  transition: all 0.4s ease-in-out;
}

#workspaces button:hover {
  font-weight: bold;
  font-size: 15px;
  background-color: @tertiary;
  color: @on_background;
  border-radius: 16px;
  min-height: 35px;
}

#workspaces button.urgent {
  background-color: @error;
  color: @outline;
  border-radius: 16px;
  min-height: 40px;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
}

/* CAVA Module */
#cava {
  color: @secondary_container;
  background-color: transparent;
  font-size: 15px;
  margin: 5px 0;
}

/* Window Title Module */
#window {
  color: @on_background;
  background-color: transparent;
  font-size: 17px;
  margin: 5px 0;
}

/* Clock Module */
#clock {
  color: @background;
  background-color: @on_background;
  padding: 5px 0;
  font-size: 19px;
  margin: 5px 5px;
}

/* Battery Module */
#battery {
  color: @secondary_light;
  font-size: 15px;
  background-color: transparent;
  margin: 5px 0;
}

/* Bluetooth Module */
#bluetooth {
  color: @secondary_light;
  background: transparent;
  font-size: 20;
  margin: 10px 0px 5px 0px;
}

#bluetooth.disabled, #bluetooth.off {
  color: @error;
}

/* Network Module */
#network {
  color: @secondary_light;
  font-size: 16px;
  background: transparent;
  margin: 5px 0px 10px 5px;
}

/* User Module */
#user {
  margin: 5px 0;
  color: @outline;
}

/* Wireless Module */
#wireless {
  background-color: @surface_variant;
  font-size: 20px;
  padding: 0px 0px 0px 0px;
  border-radius: 20px;
  margin: 20px 5px 70px 5px;
}

/* Tray Module */
#tray {
  margin: 5px 0;
}

/* Pulseaudio Slider */
#pulseaudio-slider {
  margin: 5px 0;
  padding: 0;
}

#pulseaudio-slider slider {
  min-height: 5px;
  min-width: 1px;
  opacity: 0;
  background-image: none;
  border: @error;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 100px;
  min-width: 5px;
  border-radius: 9px;
  background-color: @surface_variant;
}

#pulseaudio-slider highlight {
  min-width: 15px;
  min-height: 5px;
  border-radius: 10px;
  border: black;
  background-color: @on_surface;
}

